body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0ae;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background-color: #fdfdfd;
    width: 800px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.photo img {
    width: 100%;
    height: auto;
    display: block;
}

.message {
    padding: 20px;
    text-align: center;
}

.message h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #f20b0b;
}

.message p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
}
